h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    position: fixed;
    left: 500px;
    top: 0px;
    font-weight: lighter;
    
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: lighter;

}

a {
    color: #ff0101;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none !important;
}

button {
    position: fixed;
    left: 950px;
    top: 450px;
}

  p {
    font-family: 'Courier New', Courier, monospace;
  }

  #seating-area {
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.customer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 5px;
}

#game-container {
    margin-left: 170px;
}
  