h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }