h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    position: fixed;
    left: 500px;
    top: 0px;
    font-weight: lighter;
    
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: lighter;

}

a {
    color: #ff0101;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none !important;
}

button {
    position: fixed;
    left: 950px;
    top: 450px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    color: #ff0101;
  }

  